@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
:root {
  --primary-color: #009973;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.page-title {
  margin: auto;
  text-align: center;
}

section {
  padding: 2em 2em;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

nav.menu-btn {
  display: block !important;
}

.navbar {
  padding: 1em;
  max-width: 1272px;
  margin: auto;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .container .nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .container .nav-left #navbar-logo {
  width: 4.2em;
  height: 3.5em;
}

.navbar .container .nav-left .navbar-text {
  margin-left: 0.5em;
  font-size: 1.2em;
}

.navbar .container .mobile-menu {
  width: 2.5em;
  height: 2.5em;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
}

.navbar .container nav {
  display: none;
  position: fixed;
  z-index: 1000;
  width: 56%;
  right: 0;
  top: 0;
  height: 100vh;
  padding: 1em;
  background-color: var(--primary-color);
}

.navbar .container nav ul {
  margin-top: 5em;
}

.navbar .container nav li a {
  display: block;
  color: white;
  padding: .5em 2em .5em .5em;
  font-size: 1.3em;
  font-weight: normal;
  text-align: right;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.navbar .container nav li a:hover {
  font-weight: bold;
  color: white;
}

.navbar .container nav .mobile-menu-exit {
  float: right;
  display: block;
  margin: 2em 2.3em 2em 0;
  cursor: pointer;
}

.navbar .container nav ul.primary-nav > * {
  margin-top: auto;
  margin-bottom: auto;
}

.navbar .container nav .nav-cta {
  background-color: #009973;
  padding: 0.5em 0.3em;
  border-radius: 10px;
  margin-left: 17px;
}

.navbar .container nav .nav-cta a {
  color: white;
  font-weight: 700;
  -webkit-transition: -webkit-text-decoration-color 300ms;
  transition: -webkit-text-decoration-color 300ms;
  transition: text-decoration-color 300ms;
  transition: text-decoration-color 300ms, -webkit-text-decoration-color 300ms;
  -webkit-text-decoration: underline 0.15em rgba(0, 0, 0, 0);
          text-decoration: underline 0.15em rgba(0, 0, 0, 0);
}

.navbar .container nav .nav-cta a:hover {
  color: white;
  -webkit-text-decoration-color: white;
          text-decoration-color: white;
}

section.info {
  padding: 1em;
}

section.info .container {
  text-align: center;
}

section.info .container .info-img {
  margin: auto;
}

section.info .container .info-img img {
  width: 19.75em;
  margin-top: 1em;
  border-radius: 12px;
}

section.links .container .link {
  margin: auto auto 1em auto;
  background-color: var(--primary-color);
  padding: 1em;
  border-radius: 10px;
  max-width: 50vw;
}

section.links .container .link h1 {
  text-align: center;
  font-size: 1.4em;
  color: white;
}

section.links .container .link ul {
  line-height: 1.8em;
}

section.links .container .link ul li {
  font-size: 1.2em;
}

section.links .container .link ul a {
  text-decoration: underline;
  color: white;
}

@media only screen and (min-width: 1080px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .navbar {
    padding-left: 3em;
    padding-right: 3em;
  }
  .navbar .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar .container .nav-left {
    margin-top: auto;
    margin-bottom: auto;
  }
  .navbar .container nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    width: auto;
    height: auto;
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
  }
  .navbar .container nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
  }
  .navbar .container nav li a {
    color: black;
    font-size: 1em;
    padding: .1em 1em;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    font-weight: 600;
  }
  .navbar .container nav li a:hover {
    font-weight: 600;
    color: var(--primary-color);
  }
  .navbar .container nav li.current a {
    font-weight: bold;
    color: var(--primary-color);
  }
  .navbar .container nav .nav-cta {
    background-color: #009973;
    padding: 0.5em 0.3em;
    border-radius: 10px;
    margin-left: 17px;
    min-width: 6.1em;
  }
  .navbar .container nav .nav-cta a {
    color: white;
    font-weight: 700;
  }
  section {
    padding: 2em 8em;
  }
}
/*# sourceMappingURL=links.css.map */